<%- include("partials/header")-%>

<button type="button" name="loginButton"><a href="/login">Login</a></button>
<button type="button" name="registerButton"><a href="/register">Register</a></button>
<%- include("partials/footer")-%>
