<%-include("partials/header")-%>

<form action="/login" method="post">

  <input type="email" name="emailAddress" placeholder="Enter your Email" >
<input type="password" name="savedPassword"  placeholder="Enter your password" >
<button type="submit" >Login</button>

</form>

<%-include("partials/footer")-%>
